<robot
  name="syt_description">
  <link
    name="base_footprint">
    <inertial>
      <origin
        xyz="-0.178575590405952 0.000755490494893402 0.124882081501483"
        rpy="0 0 0" />
      <mass
        value="119.728030913147" />
      <inertia
        ixx="5.16240167567365"
        ixy="0.00129511364043989"
        ixz="-0.029111886707158"
        iyy="6.00177963309171"
        iyz="0.0062998740425396"
        izz="5.42610672574734" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="-1.57 0 0" />
      <geometry>
        <mesh
          filename="package://syt_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.0 0.89 0.67 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://syt_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>
